/* admin articles page */
#admin_articles_page{
    
}
    #admin_articles_page .articles_data{
        width:705px;
        position:relative;
    }
        #admin_articles_page .articles_data table{
            display:block;
            margin:0;
        }
            #admin_articles_page .articles_data table thead{
                font-weight:bold;
                font-family:monospace;
                font-size:12px;
            }
            #admin_articles_page .articles_data table tbody{
                font-size:12px;
            }
            #admin_articles_page .articles_data table .article_id > span{
                font-weight:bold;
                font-family:monospace;
                width:30px;
            }
            #admin_articles_page .articles_data table .article_title > span{
                width:315px;
            }
            #admin_articles_page .articles_data table .article_author > span{
                width:85px;
            }
            #admin_articles_page .articles_data table .article_type > span{
                width:55px;
            }
            #admin_articles_page .articles_data table .article_action > span{
                width:60px;
            }
            #admin_articles_page .articles_data table .article_date > span{
                width:55px;
            }
            #admin_articles_page .articles_data table tbody .article_date > span{
                font-style:italic;
                font-size:11px;
            }
                #admin_articles_page .articles_data table tr td{
                    position:relative;
                }
                #admin_articles_page .articles_data table tr td span{
                    overflow:hidden;
                    word-wrap:break-word;
                    display:block;
                }
/* article type add page */
#article_type_add_page{
    
}
    #article_type_add_page #articleTypeAdd{

    }
        #article_type_add_page #articleTypeAdd #name{
            width:250px;
        }
        #article_type_add_page #articleTypeAdd #description{
            width:345px;
        }
/* article type id page */
#article_type_page{
    
}
    #article_type_page .article_type_item{
        
    }
        #article_type_page .article_type_item span{
            font-weight:bold;
            text-decoration:underline;
            font-size:15px;
            color:#565656;
        }
        #article_type_page .article_type_item .article_type_name{
            color:#898989;
        }
        #article_type_page .article_type_item .article_type_descr{
            color:#898989;
        }
        #article_type_page .article_type_item .article_type_controls{
            float:right;
            clear:both;
            margin:5px 0;
        }
/* article type all page */
#article_types_page{
    
}
    #article_types_page .article_types_data{
        
    }
        #article_types_page .article_types_data table{
            margin:0;
        }
            #article_types_page .article_types_data table thead{
                font-weight:bold;
                font-family:monospace;
                font-size:12px;
            }
            #article_types_page .article_types_data table tbody{
                font-size:12px;
            }
                #article_types_page .article_types_data table .article_type_id > span{
                    font-weight:bold;
                    font-family:monospace;
                    width:30px;
                }
                #article_types_page .article_types_data table .article_type_name > span{
                    width:180px;
                }
                #article_types_page .article_types_data table .article_type_descr > span{
                    width:365px;
                }
                #article_types_page .article_types_data table .article_type_action > span{
                    width:60px;
                }
                #article_types_page .article_types_data table tr td{
                    position:relative;
                }
                #article_types_page .article_types_data table tr td span{
                    overflow:hidden;
                    word-wrap:break-word;
                    display:block;
                }
/* article type edit page */
#article_type_edit_page{
    
}
    #article_type_edit_page #articleTypeEdit{

    }
        #article_type_edit_page #articleTypeEdit #name{
            width:250px;
        }
        #article_type_edit_page #articleTypeEdit #description{
            width:345px;
        }
/* admin users page */
#admin_users_page{
    
}
    #admin_users_page .users_data{
        
    }
        #admin_users_page .users_data table{
            margin:0;
        }
            #admin_users_page .users_data table thead{
                font-weight:bold;
                font-family:monospace;
                font-size:12px;
            }
            #admin_users_page .users_data table tbody{
                font-size:12px;
            }
                #admin_users_page .users_data table .user_id > span{
                    font-weight:bold;
                    font-family:monospace;
                    width:30px;
                }
                #admin_users_page .users_data table .user_login > span{
                    width:180px;
                }
                #admin_users_page .users_data table .user_activation > span{
                    width:60px;
                }
                #admin_users_page .users_data table .user_status > span{
                    width:60px;
                }
                #admin_users_page .users_data table .user_last_activity > span{
                    width:60px;
                }
                #admin_users_page .users_data table .user_action > span{
                    width:60px;
                }
                #admin_users_page .users_data table tr td{
                    position:relative;
                }
                #admin_users_page .users_data table tr td span{
                    overflow:hidden;
                    word-wrap:break-word;
                    display:block;
                }