/* admin articles page */
#admin_articles_page{
    
}
    #admin_articles_page .articles_data{
        width:705px;
        position:relative;
    }
        #admin_articles_page .articles_data table{
            display:block;
            margin:0;
        }
            #admin_articles_page .articles_data table thead{
                font-weight:bold;
                font-family:monospace;
                font-size:12px;
            }
            #admin_articles_page .articles_data table tbody{
                font-size:12px;
            }
            #admin_articles_page .articles_data table .article_id > span{
                font-weight:bold;
                font-family:monospace;
                width:30px;
            }
            #admin_articles_page .articles_data table .article_title > span{
                width:315px;
            }
            #admin_articles_page .articles_data table .article_author > span{
                width:85px;
            }
            #admin_articles_page .articles_data table .article_type > span{
                width:55px;
            }
            #admin_articles_page .articles_data table .article_action > span{
                width:60px;
            }
            #admin_articles_page .articles_data table .article_date > span{
                width:55px;
            }
            #admin_articles_page .articles_data table tbody .article_date > span{
                font-style:italic;
                font-size:11px;
            }
                #admin_articles_page .articles_data table tr td{
                    position:relative;
                }
                #admin_articles_page .articles_data table tr td span{
                    overflow:hidden;
                    word-wrap:break-word;
                    display:block;
                }
/* article type add page */
#article_type_add_page{
    
}
    #article_type_add_page #articleTypeAdd{

    }
        #article_type_add_page #articleTypeAdd #name{
            width:250px;
        }
        #article_type_add_page #articleTypeAdd #description{
            width:345px;
        }
/* content type add page */
#content_type_add_page{
    
}
    #content_type_add_page #contentTypeAdd{

    }
        #content_type_add_page #contentTypeAdd #name{
            width:250px;
        }
        #content_type_add_page #contentTypeAdd #description{
            width:345px;
        }
/* article type id page */
#article_type_page{
    
}
    .article_type_item{
        background: none repeat scroll 0 0 #F5F5F5;
        border: 1px solid #CACACA;
        border-radius: 7px 7px 7px 7px;
        margin: 20px 0;
        padding: 10px;
        overflow:auto;
    }
        .article_type_item span{
            font-weight:bold;
            text-decoration:underline;
            font-size:15px;
            color:#565656;
        }
        .article_type_item .article_type_name{
            color:#898989;
        }
        .article_type_item .article_type_descr{
            color:#898989;
        }
        .article_type_item .article_type_controls{
            float:right;
            clear:both;
            margin:5px 0;
        }
        .article_type_item .article_type_info{
            border-top:1px solid #E6E0E0;
            font-size:10px !important;
            color:#969696 !important;
            text-align:right !important;
            clear:both !important;
            margin-top:10px;
        }
            .article_type_item .article_type_info .article_type_info_item{
                display:inline-block;
            }
                .article_type_item .article_type_info .article_type_info_item:before{
                    content:"|";
                    margin:0 5px;
                }
                .article_type_item .article_type_info .article_type_info_item span{
                    font-weight:bold !important;
                    color:#4F4F4F !important;
                    font-size:10px !important;
                    text-decoration:none;
                }
/* content type id page */
#content_type_page{
    
}
    .content_type_item{
        background: none repeat scroll 0 0 #F5F5F5;
        border: 1px solid #CACACA;
        border-radius: 7px 7px 7px 7px;
        margin: 20px 0;
        padding: 10px;
        overflow:auto;
    }
        .content_type_item span{
            font-weight:bold;
            text-decoration:underline;
            font-size:15px;
            color:#565656;
        }
        .content_type_item .content_type_name{
            color:#898989;
        }
        .content_type_item .content_type_descr{
            color:#898989;
        }
        .content_type_item .content_type_controls{
            float:right;
            clear:both;
            margin:5px 0;
        }
        .content_type_item .content_type_info{
            border-top:1px solid #E6E0E0;
            font-size:10px !important;
            color:#969696 !important;
            text-align:right !important;
            clear:both !important;
            margin-top:10px;
        }
            .content_type_item .content_type_info .content_type_info_item{
                display:inline-block;
            }
                .content_type_item .content_type_info .content_type_info_item:before{
                    content:"|";
                    margin:0 5px;
                }
                .content_type_item .content_type_info .content_type_info_item span{
                    font-weight:bold !important;
                    color:#4F4F4F !important;
                    font-size:10px !important;
                    text-decoration:none;
                }
/* article type all page */
#article_types_page{
    
}
    #article_types_page .article_types_data{
        
    }
        #article_types_page .article_types_data table{
            margin:0;
        }
            #article_types_page .article_types_data table thead{
                font-weight:bold;
                font-family:monospace;
                font-size:12px;
            }
            #article_types_page .article_types_data table tbody{
                font-size:12px;
            }
                #article_types_page .article_types_data table .article_type_id > span{
                    font-weight:bold;
                    font-family:monospace;
                    width:30px;
                }
                #article_types_page .article_types_data table .article_type_name > span{
                    width:180px;
                }
                #article_types_page .article_types_data table .article_type_descr > span{
                    width:365px;
                }
                #article_types_page .article_types_data table .article_type_action > span{
                    width:60px;
                }
                #article_types_page .article_types_data table tr td{
                    position:relative;
                }
                #article_types_page .article_types_data table tr td span{
                    overflow:hidden;
                    word-wrap:break-word;
                    display:block;
                }
/* content type all page */
#content_types_page{
    
}
    #content_types_page .content_types_data{
        
    }
        #content_types_page .content_types_data table{
            margin:0;
        }
            #content_types_page .content_types_data table thead{
                font-weight:bold;
                font-family:monospace;
                font-size:12px;
            }
            #content_types_page .content_types_data table tbody{
                font-size:12px;
            }
                #content_types_page .content_types_data table .content_type_id > span{
                    font-weight:bold;
                    font-family:monospace;
                    width:30px;
                }
                #content_types_page .content_types_data table .content_type_name > span{
                    width:180px;
                }
                #content_types_page .content_types_data table .content_type_descr > span{
                    width:365px;
                }
                #content_types_page .content_types_data table .content_type_action > span{
                    width:60px;
                }
                #content_types_page .content_types_data table tr td{
                    position:relative;
                }
                #content_types_page .content_types_data table tr td span{
                    overflow:hidden;
                    word-wrap:break-word;
                    display:block;
                }
/* article type edit page */
#article_type_edit_page{
    
}
    #article_type_edit_page #articleTypeEdit{

    }
        #article_type_edit_page #articleTypeEdit #name{
            width:250px;
        }
        #article_type_edit_page #articleTypeEdit #description{
            width:345px;
        }
/* content type edit page */
#content_type_edit_page{
    
}
    #content_type_edit_page #contentTypeEdit{

    }
        #content_type_edit_page #contentTypeEdit #name{
            width:250px;
        }
        #content_type_edit_page #contentTypeEdit #description{
            width:345px;
        }
/* admin users page */
#admin_users_page{
    
}
    #admin_users_page .users_data{
        
    }
        #admin_users_page .users_data table{
            margin:0;
        }
            #admin_users_page .users_data table thead{
                font-weight:bold;
                font-family:monospace;
                font-size:12px;
            }
            #admin_users_page .users_data table tbody{
                font-size:12px;
            }
                #admin_users_page .users_data table .user_id > span{
                    font-weight:bold;
                    font-family:monospace;
                    width:30px;
                }
                #admin_users_page .users_data table .user_login > span{
                    width:180px;
                }
                #admin_users_page .users_data table .user_activation > span{
                    width:60px;
                }
                #admin_users_page .users_data table .user_status > span{
                    width:60px;
                }
                #admin_users_page .users_data table .user_last_activity > span{
                    width:60px;
                }
                #admin_users_page .users_data table .user_action > span{
                    width:60px;
                }
                #admin_users_page .users_data table tr td{
                    position:relative;
                }
                #admin_users_page .users_data table tr td span{
                    overflow:hidden;
                    word-wrap:break-word;
                    display:block;
                }