/* article add page */
#article_add_page{
    
}
    #article_add_page #articleAdd{
        width:650px;
    }
        #article_add_page #articleAdd #text{
            width:495px;
            resize:none;
        }
        #article_add_page #articleAdd #title{
            width:495px;
        }
        #article_add_page #articleAdd #image{
            width:380px;
        }
/* article all page */
#articles_page{
    
}
    #articles_page .article_item{
        border:1px solid #CACACA;
        border-radius:7px;
        margin:20px 0;
        padding:10px;
        background:none repeat scroll 0 0 #F5F5F5;
    }
        #articles_page .article_item .article_controls{
            float:right;
            clear:both;
            margin:5px 0;
        }
        #articles_page .article_item .article_image{
            float:left;
            margin:0 15px 15px 0;
            width:250px;
        }
        #articles_page .article_item .article_title{
            border-bottom:1px solid #E6E0E0;
            margin-bottom:5px;
        }
            #articles_page .article_item .article_title a{
                color:#636262;
                text-decoration:none;
                font: 24px/30px sans-serif;
                text-shadow: 1px 1px 0 #FFFFFF, 0 1px 3px #9A9A9A;
            }
                #articles_page .article_item .article_title a:hover{
                    color:#D33B3D;
                }
        #articles_page .article_item .article_text{
            margin:10px 0;
            color:#424242;
            font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
        }
        #articles_page .article_item .article_author{
        
        }
            #articles_page .article_item .article_author a{
                color:#2868B7;
            }
            #articles_page .article_item .article_author a:hover{
                color:#1F81C6;
            }
        #articles_page .article_item .article_date{

        }
        #articles_page .article_item .article_date_edit{
        
        }
        #articles_page .article_item .article_views{
        
        }
        #articles_page .article_item .article_info{
            border-top:1px solid #E6E0E0;
            font-size:10px;
            color:#969696;
            text-align:right;
            clear:both;
        }
            #articles_page .article_item .article_info .article_info_item{
                display:inline-block;
            }
                #articles_page .article_item .article_info .article_info_item:before{
                    content:"|";
                    margin:0 5px;
                }
                #articles_page .article_item .article_info .article_info_item span{
                    font-weight:bold;
                    color:#4F4F4F;
                }
/* article detail page */
#article_page{
    
}
    #article_page .article_item{
        
    }
        #article_page .article_item .article_image{
            margin:0 auto 20px;
            display:block;
            max-width:450px;
            max-height:280px;
        }
        #article_page .article_item .article_text{
            margin:10px 0;
            color:#424242;
            font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
            padding:10px 20px;
        }
            #article_page .article_item .article_text img{
                border:1px solid #D2D2D2;
                border-radius:2px;
                padding:4px;
                background:#ffffff;
                box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
            }
        #article_page .article_item .article_controls{
            float:right;
            clear:both;
            margin:5px 0;
        }
        #article_page .article_item .article_author{
        
        }
            #article_page .article_item .article_author a{
                
            }
            #article_page .article_item .article_author a:hover{
                color:#1F81C6;
            }
        #article_page .article_item .article_date{

        }
        #article_page .article_item .article_date_edit{
        
        }
        #article_page .article_item .article_views{
        
        }
        #article_page .article_item .article_info{
            border-top:1px solid #E6E0E0;
            font-size:10px;
            color:#969696;
            text-align:right;
            clear:both;
        }
            #article_page .article_item .article_info .article_info_item{
                display:inline-block;
            }
                #article_page .article_item .article_info .article_info_item:before{
                    content:"|";
                    margin:0 5px;
                }
                #article_page .article_item .article_info .article_info_item span{
                    font-weight:bold;
                    color:#4F4F4F;
                }
/* article edit page */
#article_edit_page{
    
}
    #article_edit_page #articleEdit{
        width:650px;
    }
    
        #article_edit_page #articleEdit #text{
            width:495px;
            resize:none;
        }
        #article_edit_page #articleEdit #title{
            width:495px;
        }
        #article_edit_page #articleEdit #image{
            width:380px;
        }
/* article type add page */
#article_type_add_page{
    
}