#chat{
    
}
    #chat .sidebar_box_content{
        padding:5px 5px !important;
    }
    #chat .chat_buttons{
        float:right;
        margin:7px 3px 0 0;
    }
    #chat #chat_textarea_count{
        font-weight:bold;
        font-size:11px;
    }
    #chat #chat_ajax_img{
        display:none;
    }
/* form style */
#chat #userChat{
    margin:0;
    padding:10px 0;
    
}
    #chat #userChat dl{
        margin:0;
    }
    #chat #userChat .form_actions_group{
        display:inline-block;
    }
        #chat #userChat .submit{
            
        }
        #chat #userChat .reset{
            float:right;
        }
    #chat #chat_messages_box{
        border:1px solid #CCCCCC;
        border-radius:3px;
        height:250px;
        overflow:auto;
        font-size:11px;
        line-height:12px;
        font-family:verdana,arial,helvetica;
        padding:3px 0;
        overflow-y:scroll;
    }
        #chat #chat_messages_box .chat_message_box{
            border-bottom:1px solid #CCCCCC;
        }
        #chat #chat_messages_box .odd{
            background:#FFFFFF;
        }
        #chat #chat_messages_box .even{
            background:#FBFBFB;
        }
            #chat #chat_messages_box .chat_message_box .chat_mesage_date{
                font-style:italic;
                float:right;
                font-size:8px;
                padding-right:3px;
            }
            #chat #chat_messages_box .chat_message_box .chat_mesage_nickname{
                font-weight:bold;
                color:#0073EA;
                padding:0 2px;
            }
                #chat #chat_messages_box .chat_message_box .chat_mesage_nickname .nick{
                    padding:1px 0;
                }
            #chat #chat_messages_box .chat_message_box .chat_mesage_message{
                padding:3px 4px;
            }
    #chat #userChat textarea#messageTextArea{
        resize:none;
        margin:0 auto 15px;
        width:94%;
        height:60px;
        font-size:11px;
        line-height:12px;
        font-family:verdana,arial,helvetica;
        display:block;
    }
    #chat #userChat .messageTextArea_Label{
        font-size:11px;
        line-height:12px;
        font-family:verdana,arial,helvetica;
    }
    #chat #userChat .controls_box{
        margin:0;
    }
    #chat #userChat #submit{

    }
    #chat #userChat #reset{

    }
/* user chat page*/
#user_chat_page{

}