html, body {margin:0; padding:0;}
body{}

#page_wrapper{min-height: 100%; position:relative; padding:0;}
#page{}

#head-line{margin:0 0 20px 0;}

#header{position:relative; margin:0 auto;}

#main_wrapper{position:relative; padding:0; margin-top:20px;}
#main{}
/* SideBar box css */
#sidebar-left .sidebar_box{margin:0px 0 1px 0;}
#sidebar-left .sidebar_box .sidebar_box_title, #sidebar-left .sidebar_box .sidebar_box_title > a{
    font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:bold; color:#707070;}
#sidebar-left .sidebar_box .sidebar_box_title{padding:20px 0;}
#sidebar-left .sidebar_box .sidebar_box_title i{}
#sidebar-left .sidebar_box .sidebar_box_content{padding:3px 3px; overflow:hidden;}

#sidebar_date_calendar .sidebar_box_content{text-align:center;}

#footer{border-top:2px solid #8C8C8C; background:#1B1B1B;
    background-image:linear-gradient(to bottom, #222222, #111111);
    margin:0 auto; padding:15px 15px 10px 15px; color:#6C6A6A;
    font-size:11px;
}

/* Footer menu css */
#footer_menu{display:inline-block; margin: 0 auto; overflow:hidden;}
#footer_menu li{float:left; list-style-type:none; margin-right:15px; margin-left:-2px;}
#footer_menu li:before{content:"|"; margin-right:12px; line-height: 15px;}
#footer_menu li a{font-size:13px; font-family:sans-serif; color:#6C6A6A;}
#footer_menu li a:hover{text-decoration:underline; color:#968F8F;}

/* Footer web counters css */
#footer .web_counters{position:absolute; right:0px; display:inline-block;}
#footer .web_counters img{opacity:0.4;}
#footer .web_counters img:hover{opacity:1;}
#footer .web_counters > div{display:inline-block; margin:0 5px;}