/* Common class for item_block */
.block_item{
    position:relative;
    padding:10px;
}
    .block_item_content{
        overflow:auto;
    }

/* UI for blocks*/
.block_ui_gray{
    border:1px solid #CACACA;
    background:none repeat scroll 0 0 #EDEDED;
    display:block;
    border:2px solid #CACACA;
    margin:20px 0;
    padding:10px;
}
.block_ui_rounded_3{
    border-radius:3px;
}
.block_ui_rounded_5{
    border-radius:5px;
}
.block_ui_rounded_7{
    border-radius:7px;
}
.block_ui_rounded_10{
    border-radius:10px;
}

/* Images and images wrapper */
.image_logo_wrapper_250_250{
    width:250px;
    max-height:250px;
}
    .image_logo_250{
        width:250px;
        max-height:250px;
    }
    .image_logo_250_250{
        width:250px;
        max-height:250px;
    }
/* configure block */    
.configure_block_item_links{
    position:absolute;
    right:5px;
    top:0px;
    display:none;
}
    .configure_block_item_links .configure_block_item_link{
        opacity:0.5;
    }
    .configure_block_item_links ul{
        margin:0;
        right:5px;
        left:auto;
        opacity:1;
    }
    .configure_block_item_links .contextual-links-trigger{
        color:gray;
        opacity:0.5;
    }
        .configure_block_item_links .contextual-links-trigger .caret{
            color:black;
        }

/* block item info footer */
.block_item_info{
    border-top:1px solid #E6E0E0;
    font-size:10px;
    color:#969696;
    text-align:right;
    clear:both;
    margin:5px 0;
}
    .article_info .article_info_item{
        display:inline-block;
    }
        .block_item_info .block_item_info_item:before{
            content:"|";
            margin:0 5px;
        }
        
/* League */
.league_logo_wrapper_250_250{
    margin:0 15px 15px 0;
}
.league_id_info_block{
    width:440px;
}

/* team_user */
.team_user_full_info_item{
    
}
    .team_user_full_info_item .user_image{
        margin:0 10px 10px 0;
        width:175px;
        max-height:175px;
        overflow:hidden;
    }
        .team_user_full_info_item .user_image img{
            width:165px;
        }

/* additional common styles */
.overflow-hide{
    overflow:hidden;
}

/* Fonts styles */
.font-veradana{
    font-family:verdana;
}
.font-monospace{
    font-family:monospace;
}
.font-size-11{
    font-size:11px;
}
.font-bold{
    font-weight:bold;
}
    .font-bold a{
        font-weight:bold;
    }
.font-color-black{
    color:#000;
}
    .font-color-black a{
        color:#000
    }
/* tables styles */
.cell-text-align-vert{
    vertical-align:middle;
}
.cell-width-150{
    width:150px;
}