/* Common class for item_block */
.block_item{
    position:relative;
    margin:15px 0;
    
}
    .block_item .block_item_header{
        background-image:linear-gradient(to bottom, #3B3B3B, #292929);
        background-color:#3B3B3B;
        font-family:Verdana;
        color:#FFFFFF;
    }
        .block_item .block_item_header .block_item_title{
            padding:10px;
        }
        .block_item .block_item_header .block_item_title, .block_item .block_item_header .block_item_title a{
            color:#FFFFFF;
            font-size:14px;
            font-weight:bold;
        }
            
    .block_item_content{
        overflow:auto;
        padding:7px;
    }
/* UI for blocks*/
.block_ui_gray{
    border:1px solid #CACACA;
    background-color:#EDEDED;
    background-image:linear-gradient(to bottom, #FFFFFF, #E0E0E0);
    display:block;
    border:2px solid #CBCBCB;
}
.block-ui-border-dark{
    border:2px solid #959595;
}
.block_ui_rounded_3{
    border-radius:3px;
}
.block_ui_rounded_5{
    border-radius:5px;
}
.block_ui_rounded_7{
    border-radius:7px;
}
.block_ui_rounded_10{
    border-radius:10px;
}
.block-width-135{
    width:135px;
}
.block-width-290{
    width:290px;
}
.block-width-300{
    width:300px;
}
.block-width-390{
    width:390px;
}
.block-inline{
    display:inline-block;
}
/**/
.block-content-text{
    color:#424242;
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
    margin:7px 0;
}
.block-content-button-more{
    margin-right:20px;
}
/* Images and images wrapper */
.image_wrapper_70{
    width:70px;
    max-height:70px;
    margin:5px;
}
.image_wrapper_100{
    width:100px;
    max-height:100px;
    margin:5px;
}
.image_wrapper_150_150{
    width:150px;
    max-height:150px;
    margin:5px;
}
.image_wrapper_200_200{
    width:200px;
    max-height:200px;
    margin:5px;
}
.image_wrapper_210_210{
    width:210px;
    max-height:210px;
    margin:5px;
}
.image_wrapper_250_250{
    width:250px;
    max-height:250px;
    margin:5px;
}
.image_wrapper_250{
    width:250px;
    max-height:450px;
    margin:5px;
}
.image_wrapper_365{
    width:365px;
    max-height:450px;
    margin:5px;
}
.image_wrapper_690{
    width:690px;
    max-height:740px;
    margin:5px;
}
.image_wrapper_700{
    width:700px;
    max-height:740px;
    margin:5px;
}
    .image_size_32{
        width:32px;
    }
    .image_size_70{
        width:70px;
    }
    .image_size_100{
        width:100px;
    }
    .image_size_150{
        width:150px;
    }
    .image_size_200{
        width:200px;
    }
    .image_size_250{
        width:250px;
    }
    .image_size_690{
        width:690px;
    }
    .image_size_365{
        width:365px;
        max-height:450px
    }
    .image_size_250_250{
        width:250px;
        max-height:250px;
    }
    .image_size_40_40{
         width:40px;
        max-height:30px;
    }
/* configure block */    
.block_item:hover .configure_block_item_links{
    display:block;
}
.configure_block_item_links{
    position:absolute;
    right:5px;
    top:0px;
    display:none;
}
    .configure_block_item_links .configure_block_item_link{
        opacity:0.5;
        color:#B39434;
    }
    .configure_block_item_links ul{
        margin:0;
        right:5px;
        left:auto;
        opacity:1;
    }
    .configure_block_item_links .contextual-links-trigger{
        color:gray;
        opacity:0.5;
    }
        .configure_block_item_links .contextual-links-trigger .caret{
            color:black;
        }

/* block item info footer */
.block_item_info_bottom{
    border-top:1px solid #E6E0E0;
    font-size:10px;
    color:#969696;
    clear:both;
    margin-top:10px;
}
    .block_item_info_bottom .block_item_info_bottom_item{
        display:inline-block;
    }
        .block_item_info_bottom .block_item_info_bottom_item:before{
            content:"|";
            margin:0 5px;
        }
.block_item_header .block_item_info_header{
    background-color:#C5C5C5;
    background-image:linear-gradient(to bottom, #B0B0B0, #CFCBCB);
}        
.block_item_info_header{
    font-size:9px;
    color:#7D270D;
    padding:2px 5px;
}
    .block_item_info_header .block_item_info_header_item{
        display:inline-block;
        margin:0 7px;
    }
        .block_item_info_header .block_item_info_header_item, .block_item_info_header .block_item_info_header_item a{
            color:#7D270D;
        }
        
/* League */
.league_all_logo_wrapper_200_200{
    margin:0 15px 15px 0;
}
.league_id_logo_wrapper_250{
    margin:0 0 15px 0;
}
.league_id_info_block{
    width:440px;
    margin-bottom:5px;
}
    .league_id_info_block table{
        margin:0;
    }
/* championship */
.championship_id_info_block{
    width:440px;
    margin-bottom:5px;
}
    .championship_id_info_block table{
        margin:0;
    }
/* team_user */
.team_user_full_info_item{
    
}
    .team_user_full_info_item .user_image{
        margin:0 10px 10px 0;
        width:175px;
        max-height:175px;
        overflow:hidden;
    }
        .team_user_full_info_item .user_image img{
            width:165px;
        }
/* championship team drivers*/
#default_championship_drivers{
    
}
    #default_championship_drivers .block_item{
        margin:5px 0;
    }
    #default_championship_drivers .team_item .team_name{
        margin:5px;
        text-align:center;
        text-transform:uppercase;
    }
    #default_championship_drivers .team_item .team_number{
        min-width:20px;
        text-align:center;
        margin:8px 5px 6px;
        font-weight:bold;
        font-size:15px;
        padding:5px;
        position:absolute;
        left:0px;
        top:-5px;
    }
        #default_championship_drivers .team_item .team_name a{
            font-weight:bold;
            color:#636262;
            text-decoration:none;
            font: bold 24px/30px sans-serif;
            text-shadow: 1px 1px 0 #FFFFFF, 0 1px 3px #9A9A9A;
        }
            #default_championship_drivers .team_item .team_name a:hover{
                color:#D33B3D;
            }
    #default_championship_drivers .team_driver_item{
        height:180px;
        max-height:200px;
        margin:5px 5px;
    }
        #default_championship_drivers .team_driver_item .team_driver_number, #default_championship_team-show .team_driver_number{
            min-width:20px;
            text-align:center;
            margin:0px;
            font-weight:bold;
            font-size:15px;
            padding:5px;
            display:inline-block;
        }
        #default_championship_drivers .team_driver_item .team_driver_flag{
            margin:6px 5px;
            display:inline-block;
        }
        #default_championship_drivers .team_driver_item .team_driver_info{
            font-size:11px;
            clear:both;
            overflow:hidden;
            max-height:100px;
        }
/*post*/
.post_id_logo_wrapper_690{
    width:auto;
    max-width:690px!important;
    height:auto;
    max-height:740px;
    display:inline-block;
}
.post_id_logo{
    width:auto;
    max-width:690px;
}
/* Championship team driver*/
#default_championship_team-show{
    
}
    #default_championship_team-show .team_show_logo_wrapper_210{
        position:relative;
        top:-50px;
        right:-100px;
    }
/* additional common styles */
.overflow-hide{
    overflow:hidden;
}
.align-center{
    text-align:center;
}
.align-center-block{
    text-align:center;
    margin:0 auto;
    display:block;
}
.break-word-wrap{
    word-wrap:break-word;
    overflow:hidden;
}

/* Fonts styles */
.font-veradana{
    font-family:verdana;
}
.font-monospace{
    font-family:monospace;
}
.font-size-11{
    font-size:11px;
}
.font-bold{
    font-weight:bold;
}
    .font-bold a{
        font-weight:bold;
    }
.font-color-black{
    color:#000;
}
    .font-color-black a{
        color:#000
    }
.font-color-gray{
    color:#676464;
}
    .font-color-gray a{
        color:#676464;
    }
/* tables styles */
.cell-text-align-vert{
    vertical-align:middle;
}
.cell-width-150{
    width:150px;
}

/* messages */
.alert li{
    margin:5px 0 15px 14px;
}

/* Like buttons */
.button-like-wrapper{
    margin:20px 0 10px 0;
    overflow:auto;
}
    .button-like-wrapper{
    }
        .button-like-wrapper .button-like{
            float:left;
            margin:0 10px;
            width:90px;
        }