html, body {margin:0; padding:0;}
body{}

#page-wrapper{min-height: 100%; position:relative; padding:0;}
#page{}

#head-line{margin:0;}

#header{position:relative; margin:0 auto;}

#main-wrapper{position:relative; padding:0;}
#main{}

/* SideBar box css */
#sidebar-left{padding:0;}

/* Footer styles */
#footer{border-top:2px solid #8C8C8C; background:#1B1B1B;
		background-image:linear-gradient(to bottom, #222222, #111111);
		margin:0 auto; padding:15px 15px 10px 15px; color:#6C6A6A;
		font-size:11px;
}

/* Footer menu styles */
#footer_menu{display:inline-block; margin: 0 auto; overflow:hidden;}
#footer_menu li{float:left; list-style-type:none; margin-right:15px; margin-left:-2px;}
#footer_menu li:before{content:"|"; margin-right:12px; line-height: 15px;}
#footer_menu li a{font-size:13px; font-family:sans-serif; color:#6C6A6A;}
#footer_menu li a:hover{text-decoration:underline; color:#968F8F;}

/* Footer web counters css */
#footer .web_counters{position:absolute; right:0px; display:inline-block;}
#footer .web_counters img{opacity:0.4;}
#footer .web_counters img:hover{opacity:1;}

/* RSS Block */
.block-media-list-rss{}
.block-media-list-rss .media-list{}
.block-media-list-rss .media-list .media{}
.block-media-list-rss .media-list .media p{}
.block-media-list-rss .media-list .media img{float:left; margin-right:10px; border:1px solid #D2D2D2; border-radius:2px; padding:4px; background:#ffffff; box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);}

/* Background wrapper */
#background-wrapper{ background-image:url("../data-content/ui/default/default_background.png");}

/*Pages*/

/*Drivers*/
#default-user-all .block-user{min-height:230px;}
#default-user-all .block-user .user-avatar{border-width:5px; border-style:solid;}
#default-user-all .block-user .user-avatar:hover{border-color:#C41D1D; transform:rotate(360deg); -ms-transform:rotate(360deg); -webkit-transform:rotate(360deg); -webkit-font-smoothing:antialiased;}
#default-user-all .block-user .user-flag{position:absolute;top:5px;right:5px;}

/*User*/
#default-user-id .user-cover{height:150px; overflow:hidden; border-radius:5px;}
#default-user-id .user-avatar{border-width:5px; border-style:solid; position:absolute; left:50px; top:150px; margin-top:-60px;}
#default-user-id .user-avatar:hover{border-color:#C41D1D;}
#default-user-id .user-name{padding-left:180px; font-size:30px;}
#default-user-id .change-user-cover-btn{position:absolute; top:15px; right:15px;}
#default-user-id table{font-family:monospace;}

/*Sidebar online-drivers block*/
#online-drivers .block-user{}
#online-drivers .block-user .user-avatar{border-width:3px; border-style:solid;}
#online-drivers .block-user .user-avatar:hover{border-color:#C41D1D; transform:rotate(360deg); -ms-transform:rotate(360deg); -webkit-transform:rotate(360deg); -webkit-font-smoothing:antialiased;}

/* Block Hotlap on championship page */
.block-hotlap{}
.block-hotlap .hotlap-marquee{background:url("../img/moving_text_bgr.png") repeat scroll 0 0 transparent; margin:0; padding:4px 0 0 0;}
.block-hotlap .navbar{margin:0; min-height:100%;}
.block-hotlap .navbar-nav > li > a{text-transform:uppercase; padding-bottom:12px; padding-top:12px; font:bold 13px/10px arial;}

/* Block race on championhsip calendar page */
@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

#default-championship-calendar .block-race .thumbnail { border-radius: 0 !important; }
#default-championship-calendar .block-race:first-child { margin-top: 0 !important; }
#default-championship-calendar .block-race { margin-top: 20px; }
#default-championship-calendar .block-race .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
#default-championship-calendar .block-race ul { padding-left: 0 !important; list-style: none;  }
#default-championship-calendar .block-race ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
#default-championship-calendar .block-race ul li i { padding-right: 5px; }
#default-championship-calendar .block-race .col-md-7 { position: relative; }
#default-championship-calendar .block-race h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
#default-championship-calendar .block-race h3 > a, #default-championship-calendar .block-race i { color: #248dc1 !important; }
#default-championship-calendar .block-race p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
#default-championship-calendar .block-race span.plus { position: relative;}
#default-championship-calendar .block-race span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
#default-championship-calendar .block-race span.plus a:hover { background-color: #414141; }
#default-championship-calendar .block-race span.plus a i { color: #fff !important; }
#default-championship-calendar .block-race span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

/* user id */
.panel
{
    background-image:url("");
}
.dropdown
{
    position:absolute;
}

.change
{
    position:relative;
    bottom:20px;
    padding:1px;
    color:white;
    text-decoration:none;
}
.change:hover
{
    text-decoration:none;
    background-color:black;
    color:white;
}