html, body {margin:0; padding:0;}
body{}

#page-wrapper{min-height: 100%; position:relative; padding:0;}
#page{}

#head-line{margin:0;}

#header{position:relative; margin:0 auto;}

#main-wrapper{position:relative; padding:0;}
#main{}

/* SideBar box css */
#sidebar-left{padding:0;}

/* Footer styles */
#footer{border-top:2px solid #8C8C8C; background:#1B1B1B;
		background-image:linear-gradient(to bottom, #222222, #111111);
		margin:0 auto; padding:15px 15px 10px 15px; color:#6C6A6A;
		font-size:11px;
}

/* Footer menu styles */
#footer_menu{display:inline-block; margin: 0 auto; overflow:hidden;}
#footer_menu li{float:left; list-style-type:none; margin-right:15px; margin-left:-2px;}
#footer_menu li:before{content:"|"; margin-right:12px; line-height: 15px;}
#footer_menu li a{font-size:13px; font-family:sans-serif; color:#6C6A6A;}
#footer_menu li a:hover{text-decoration:underline; color:#968F8F;}

/* Footer web counters css */
#footer .web_counters{position:absolute; right:0px; display:inline-block;}
#footer .web_counters img{opacity:0.4;}
#footer .web_counters img:hover{opacity:1;}
#footer .web_counters > div{display:inline-block; margin:0 5px;}

/* RSS Block */
.block-media-list-rss{}
.block-media-list-rss .media-list{}
.block-media-list-rss .media-list .media{}
.block-media-list-rss .media-list .media p{}
.block-media-list-rss .media-list .media img{float:left; margin-right:10px; border:1px solid #D2D2D2; border-radius:2px; padding:4px; background:#ffffff; box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);}

/* Background wrapper */
#background-wrapper{ background-image:url("../data-content/ui/default/default_background.png");}

/*Pages*/

/*Drivers*/
#default-user-all .block-user{min-height:230px;}
#default-user-all .block-user .user-avatar{border-width:10px; border-style:solid;}
#default-user-all .block-user .user-avatar:hover{border-color:#C41D1D; transform:rotate(360deg); -ms-transform:rotate(360deg); -webkit-transform:rotate(360deg); -webkit-font-smoothing:antialiased;}
#default-user-all .block-user .user-flag{position:absolute;top:5px;right:5px;}

/*Sidebar online-drivers block*/
#online-drivers .block-user{}
#online-drivers .block-user .user-avatar{border-width:3px; border-style:solid;}
#online-drivers .block-user .user-avatar:hover{border-color:#C41D1D; transform:rotate(360deg); -ms-transform:rotate(360deg); -webkit-transform:rotate(360deg); -webkit-font-smoothing:antialiased;}

/* Block Hotlap on championship page */
.block-hotlap{}
.block-hotlap .hotlap-marquee{background:url("../img/moving_text_bgr.png") repeat scroll 0 0 transparent; margin:0; padding:4px 0 0 0;}
.block-hotlap .navbar{margin:0; min-height:100%;}
.block-hotlap .navbar-nav > li > a{text-transform:uppercase; padding-bottom:12px; padding-top:12px; font:bold 13px/10px arial;}