/* league add page */
#league_add_page{
    
}
    #league_add_page #leagueAdd{

    }
        #league_add_page #leagueAdd #name{
            width:250px;
        }
        #league_add_page #leagueAdd #description{
            width:345px;
        }
/* league edit page */
#league_edit_page{
    
}
    #league_edit_page #leagueEdit{

    }
        #league_edit_page #leagueEdit #name{
            width:250px;
        }
        #league_edit_page #leagueEdit #description{
            width:345px;
        }
/* league all page */
#leagues_page{
    
}
    #leagues_page .league_item{
        border:1px solid #CACACA;
        border-radius:7px;
        margin:20px 0;
        padding:10px;
        background:none repeat scroll 0 0 #F5F5F5;
        overflow:auto;
    }
        #leagues_page .league_item .league_description{
            margin:10px 0;
            color:#424242;
            font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
        }
        #leagues_page .league_item .league_date{

        }
/* league detail page */
#league_page{
    
}
    #league_page .league_item{
        
    }
        #league_page .league_item .league_logo{
            margin:0 auto 20px;
            display:block;
            max-width:450px;
            max-height:280px;
            min-width:250px;
        }
        #league_page .league_item .league_descr{
            margin:10px 0;
            color:#424242;
            font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
            padding:10px 20px;
        }
            #league_page .league_item .league_descr img{
                border:1px solid #D2D2D2;
                border-radius:2px;
                padding:4px;
                background:#ffffff;
                box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
            }