/* league all page */
#leagues_page{
    
}
    #leagues_page .league_item{
        border:1px solid #CACACA;
        border-radius:7px;
        margin:20px 0;
        padding:10px;
        background:none repeat scroll 0 0 #F5F5F5;
        overflow:auto;
    }
        #leagues_page .league_item .league_description{
            margin:10px 0;
            color:#424242;
            font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
        }
        #leagues_page .league_item .league_date{

        }
/* leagues */
    .league_item{
        overflow:auto;
    }
        .league_logo{
            margin:0 auto 20px;
            display:block;
            max-width:450px;
            max-height:280px;
            min-width:250px;
        }
        .league_controls{
            margin:15px 0 !important;
        }
        .league_descr{
            color:#605D5D !important;
        }