/* league add page */
#league_add_page{
    
}
    #league_add_page #leagueAdd{

    }
        #league_add_page #leagueAdd #name{
            width:250px;
        }
        #league_add_page #leagueAdd #description{
            width:345px;
        }
/* league edit page */
#league_edit_page{
    
}
    #league_edit_page #leagueEdit{

    }
        #league_edit_page #leagueEdit #name{
            width:250px;
        }
        #league_edit_page #leagueEdit #description{
            width:345px;
        }
/* league all page */
#leagues_page{
    
}
    #leagues_page .league_item{
        border:1px solid #CACACA;
        border-radius:7px;
        margin:20px 0;
        padding:10px;
        background:none repeat scroll 0 0 #F5F5F5;
        overflow:auto;
    }
        #leagues_page .league_item .league_controls{
            float:right;
            clear:both;
            margin:5px 0;
        }
        #leagues_page .league_item .league_logo{
            float:left;
            margin:0 15px 15px 0;
            width:250px;
        }
        #leagues_page .league_item .league_name{
            border-bottom:1px solid #E6E0E0;
            margin-bottom:5px;
        }
            #leagues_page .league_item .league_name a{
                color:#636262;
                text-decoration:none;
                font: 24px/30px sans-serif;
                text-shadow: 1px 1px 0 #FFFFFF, 0 1px 3px #9A9A9A;
            }
                #leagues_page .league_item .league_name a:hover{
                    color:#D33B3D;
                }
        #leagues_page .league_item .league_description{
            margin:10px 0;
            color:#424242;
            font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
        }
        #leagues_page .league_item .league_date{

        }
        #leagues_page .league_item .league_info{
            border-top:1px solid #E6E0E0;
            font-size:10px;
            color:#969696;
            text-align:right;
            clear:both;
        }
            #leagues_page .league_item .league_info .league_info_item{
                display:inline-block;
            }
                #leagues_page .league_item .league_info .league_info_item:before{
                    content:"|";
                    margin:0 5px;
                }
                #leagues_page .league_item .league_info .league_info_item span{
                    font-weight:bold;
                    color:#4F4F4F;
                }
/* league detail page */
#league_page{
    
}
    #league_page .league_item{
        
    }
        #league_page .league_item .league_logo{
            margin:0 auto 20px;
            display:block;
            max-width:450px;
            max-height:280px;
            min-width:250px;
        }
        #league_page .league_item .league_descr{
            margin:10px 0;
            color:#424242;
            font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
            padding:10px 20px;
        }
            #league_page .league_item .league_descr img{
                border:1px solid #D2D2D2;
                border-radius:2px;
                padding:4px;
                background:#ffffff;
                box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
            }
        #league_page .league_item .league_controls{
            float:right;
            clear:both;
            margin:5px 0;
        }
        #league_page .league_item .league_date{

        }
        #league_page .league_item .league_info{
            border-top:1px solid #E6E0E0;
            font-size:10px;
            color:#969696;
            text-align:right;
            clear:both;
        }
            #league_page .league_item .league_info .league_info_item{
                display:inline-block;
            }
                #league_page .league_item .league_info .league_info_item:before{
                    content:"|";
                    margin:0 5px;
                }
                #league_page .league_item .league_info .league_info_item span{
                    font-weight:bold;
                    color:#4F4F4F;
                }