#box_main_menu{
    position:absolute;
    right:0;
    bottom:50px;
    padding:10px 0 10px 10px;
}
    #main_menu{
        background:url("../img/nav_bgr.png");
        position: relative;
        display:inline-block;
        box-shadow:-6px 0px 9px 2px #767373;
        padding:10px 20px;
        border:3px solid gray;
        border-right:none;
        border-radius:10px 0 0 10px;
        margin:0;
        float:right;
    }
        #main_menu li{
            float:left;
            list-style-type:none;
            margin-right:10px;
            position:relative;
            display:block;
            border:1px solid;
            border-radius:10px;
        }
            #main_menu li a{
                z-index:10;
                display:block;
                position:relative;
                font:bold 13px arial;
                text-decoration:none;
                color:#AA9898;
                text-transform:uppercase;
                height:32px;
                line-height:32px;
                letter-spacing:0;
                margin:0 5px;
            }
        #main_menu li.back{
            background:url("../img/vert_sprite.png") repeat-x 0 -889px;
            height: 30px;
            border-radius:10px 10px;
            position: absolute;
            z-index:8;
            margin-top:0px;
            box-shadow:0 0 5px #fff;
        }
            #main_menu li.back .left{
                background:url("../img/vert_sprite.png") repeat-x 0 -889px;
                height: 30px;
                border-radius:10px 0 0 10px;
                margin-right: 9px;
            }
        #main_menu li.active{
            border:none;
        }
            #main_menu li.active a{
                color:#fff;
            }
        #main_menu li.expanded{

        }
            #main_menu li.expanded ul.menu{
                display:none;
                position:absolute;
                background:#000;
                border-radius:10px 10px;
                box-shadow:0 0 5px #fff;
                z-index:9999;
                margin:0 0 0 -10px;
            }
            #main_menu li.expanded:hover ul.menu{
                display:block;
                padding:5px 0 10px 0;
            }
                #main_menu li.expanded ul.menu li{
                    margin:0;
                    float:none;
                    border:none;
                    border-bottom:1px solid;
                    border-radius:0;
                }
                #main_menu li.expanded ul.menu li:hover{
                    background:url("../img/vert_sprite.png") repeat-x 0 -889px;
                }
                    #main_menu li.expanded ul.menu li a{
                        margin:0 10px 0 10px;
                        white-space: nowrap;
                    }