#page-scroller{
    position:fixed;
    display:block;
    background:url("/img/backg-wrapper.png");
    left:10px;
    bottom:20px;
    padding:5px;
    border-left:none;
    border-radius:0 5px 5px 0;
    height:100px;
    opacity:0.6;
    border:1px solid;
}
#page-scroller:hover{
    opacity:0.9;
}
#page-scroller #topcontrol{
    background-image:url("../img/page-scroller/up.png");
    background-position:center;
    background-repeat: no-repeat;
}
#page-scroller #downcontrol{
    background-image:url("../img/page-scroller/down.png");
    background-position:center;
    background-repeat: no-repeat;
}
#page-scroller .page-scroller-btn{
    margin:2px 0;
    height:48px;
    width:48px;
    opacity:0.3;
}
#page-scroller .page-scroller-btn:hover{
    opacity:0.6;
    background-color:#4B4B4B;
}