#page-scroller{
    position:absolute;
    display:block;
    background:url("/img/backg-wrapper.png");
    left:-50px;
    top:350px;
    padding:3px 25px 3px 2px;
    border:2px solid #373A3A;
    border-left:none;
    border-radius:0 5px 5px 0;
    position:fixed;
    opacity:0.5;
}
#page-scroller:hover{
    border:2px solid #8F8F8F;
    border-left:none;
    opacity:1;
    left:0px;
}
#page-scroller #topcontrol{
    background-image:url("../img/page-scroller/up.png");
}
#page-scroller #downcontrol{
    background-image:url("../img/page-scroller/down.png");
}
#page-scroller #topcontrol,#page-scroller #downcontrol{
    height:45px;
    width:45px;
    margin:2px 0;
}

#page-scroller .page-scroller-btn{
    opacity:0.5;
}
#page-scroller .page-scroller-btn:hover{
    opacity:1;
}
#page-scroller #page-scroller-eject-btn{
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width: 15px;
    color:#cccccc;
    font-size:35px;
}
#page-scroller:hover #page-scroller-eject-btn{
    color:#fff;
}