html, body {
    margin:0;
    padding:0;
}
body{
    background:url("../img/main_bgr.png") fixed;
}
body iframe{
    display:inline;
}
#page_wrapper{
    min-height: 100%;
    position:relative;
    width:1024px;
    margin:0 auto;
    padding:0;
}
#page{
    padding-bottom: 200px;
}
#headline{
    top:0;
    left:0;
    right:0;
    margin-bottom:0;
    z-index:1030;
    position:fixed;
    height:60px;
    background-color:#1B1B1B;
    background-image:linear-gradient(to bottom, #4B4B4B, #0B0B0B);
    border-bottom:2px solid #4A4A4A;
}
#headline_wraper{
    width:1024px;
    height:100%;
    margin:0 auto;
    position:relative;
}
#header{
    position:relative;
    margin:0 0 20px;
}
#site_logo{
    position:absolute;
    padding:0;
    left:0;
    top:0;
}
#site_logo a{
    text-decoration:none;
}
#site_logo a img{
    float:left;
    margin-right:10px;
}
#site_logo .logo_title{
    font-family:'Faster One';
    color:#fff;
    font-size:27px;
    display:none;
}
#site_logo .logo_title .logo_title_red{
    color:#881B1B;
}
#site_logo .logo_title .logo_title_subline{
    font-size:17px;
    display:block;
    text-align:center;
}
#box_main_menu{
    border:2px solid #292929;
    position:relative;
    margin:0 auto;
}
#box_main_menu div.navbar{
    margin:0;
}
#box_main_menu div.navbar .nav > li > a {
    text-transform:uppercase;
    letter-spacing:0;
    font:bold 13px arial;
    line-height:20px;
}
#moving_text{
    background:url("../img/moving_text_bgr.png") repeat scroll 0 0 transparent;
    border:2px solid #292929;
    border-top:none;
    box-shadow:0 0 9px 5px #000000 inset;
    color:#C5C5C2;
    display:inline-block;
    overflow:hidden;
    padding:7px 5px 4px;
    white-space:nowrap;
    width:385px;
    border-radius:0 0 0 10px;
    left:15px;
    position:relative;
}
#moving_text marquee{
}
#moving_text marquee .header_news{
    margin:0;
}
#moving_text marquee .header_news li{
    display:inline-block;
    margin:0 40px 0 0;
    font-weight:bold;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:14px;
    line-height:14px;
    list-style-type:none;
}
#moving_text marquee .header_news li:before{
    content:"";
    margin-right:10px;
    font-size:7px;
    background:url('../favicon.ico') no-repeat center center;
    width:16px;
    height:16px;
    display:inline-block;
}
#moving_text marquee .header_news li a{
    color:#E1E1E0;
    text-decoration:underline;
}
#moving_text marquee .header_news li a:hover{
    text-decoration:none;
}
#Hot_Laps_F1{
    background:url("../img/moving_text_bgr.png") repeat scroll 0 0 transparent;
    border:2px solid #292929;
    border-top:none;
    box-shadow:0 0 9px 5px #000000 inset;
    height:36px;
    right:20px;
    width:580px;
    border-radius:0 0 10px 0;
    float:right;
    position:relative;
}
#Hot_Laps_F1 .Marquee{
    padding-top:5px;
    display:inline-block;
}
#Hot_Laps_F1 .hot_laps_links{
    display:inline-block;
    padding:7px 5px;
    position:absolute;
    top:0;
}
#Hot_Laps_F1 .hot_laps_links a{
    font-size:14px;
    font-weight:bold;
    margin-left:10px;
    color:#C5C5C2;
    text-decoration:underline;
}
#Hot_Laps_F1 .hot_laps_links a:hover{
    text-decoration:none;
    color:#E1E1E0;
}
#main_wrapper{
    position:relative;
    background:url("/img/backg-wrapper.png");
    padding:15px 0;
    border:1px solid #373A3A;
    border-radius:7px;
}
#main{
    width:1022px;
}
#left_sidebar{
    width:245px;
    padding:0px 5px;
    float:left;
    margin-left:0;
    margin-right:-255px;
    margin-bottom:5px;
    overflow:visible;
    overflow:hidden;
    word-wrap:break-word;
    /*background:none repeat scroll 0 0 #F5F5F5;
    border:1px solid #CACACA;*/
}
#left_sidebar .sidebar_box{
    margin:0px 0 1px 0;

    /*
    border-radius:3px 3px 0 0;
    box-shadow:8px 13px 13px #686868;*/
}
#left_sidebar .sidebar_box:after{
    background:url("../img/shadow_sprite.png") no-repeat 0 -29px;
    display:block;
    height:15px;
    content:"";
}
#left_sidebar .sidebar_box .sidebar_box_title, #left_sidebar .sidebar_box .sidebar_box_title > a{
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
    /*text-shadow:0px 2px 5px #767676;
    color:#CDCDCD;*/
    color:#FFFFFF;
}
#left_sidebar .sidebar_box .sidebar_box_title{
    border:2px solid #6D6D6D;
    border-bottom:none;
    padding:10px 10px 10px;
    border-radius:5px 5px 0 0;
    background-color:#3B3B3B;
    background-image:linear-gradient(to bottom, #3B3B3B, #292929);
}
#left_sidebar .sidebar_box .sidebar_box_title i{
}
#left_sidebar .sidebar_box .sidebar_box_content{
    padding:3px 3px;
    border:2px solid #6D6D6D;
    border-top:none;
    background:none repeat scroll 0 0 #fff;
    overflow:hidden;
}
#content{
    word-wrap: break-word;
    margin-left:255px;
    margin-right:-1018px;
    margin-bottom:5px;
    width:740px;
    float:left;
    padding:20px 10px 10px 10px;
    text-align:justify;
    background:none repeat scroll 0 0 #FFF;
    border:1px solid #A3A3A3;
    border-radius:3px;
}
#content .page_title{
    font-family:sans-serif;
    color:#B4AC41;
    font-size:18px;
    font-weight:bold;
    line-height:20px;
    /*text-shadow:1px 1px 0 #FFFFFF, 0 1px 3px #767676;*/
    text-align:left;
    margin-bottom:10px;
    padding:0px;
}
/*#content .page_content{
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #CACACA;
    padding:5px;
    border-radius:3px;
}
#content .page:after{
    background:url("../img/shadow_sprite.png") no-repeat scroll 0 -54px transparent;
    content:"";
    display:block;
    height:20px;
}*/
.div_hr{
    background:none repeat scroll 0 0 #D9D9D9;
    border-bottom:1px solid #FFFFFF;
    font-size:0;
    height:1px;
    margin:15px 5px;
}
/*countdown_dashboard*/
#left_sidebar #countdown_dashboard{
    overflow:hidden;
    text-align:center;
    padding:1px 0 10px;
}

/*scroll to top button*/
#back-top {
    position:fixed;
    bottom:10px;
    margin-left:-85px;
    display:none;
}
#back-top a {
    width:65px;
    display:block;
    text-align:center;
    font:10px/100% Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    color:#bbb;
    font-weight:bold;
    opacity:0.5;

}
#back-top a:hover {
    color:#bbbbbb;
}
#back-top span {
    width:65px;
    height:110px;
    display:block;
    margin-bottom:7px;
    background:#ddd url("../img/scroll_to_top.gray.png") no-repeat center center;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
}
#footer{
    border-top:2px solid #8C8C8C;
    height:160px;
    width:994px;
    position:absolute;
    bottom:0;
    background:#1B1B1B;
    background-image:linear-gradient(to bottom, #222222, #111111);
    margin:0 auto;
    display:inline;
    clear:both;
    padding:20px 15px 10px 15px;
    color:#6C6A6A;
    font-size:11px;
}
#footer .footer_box{
    position:relative;
    height:120px;
    margin-bottom:10px;
}
#footer .footer_left{
    float:left;
    width:200px;
    font-size:12px;
    text-align:center;
    border-right:1px dashed #3D3A3A;
}
#footer .footer_center{
    float:left;
    margin:0 7px;
    width:570px;
    color:#5C5656;
    text-align:center;
}
#footer .footer_center .footer_menu{
    text-align:center;
}
#footer .footer_center .footer_menu #footer_menu{
    display:inline-block;
    margin: 0 auto;
    overflow:hidden;
}
#footer .footer_center .footer_menu #footer_menu li{
    float:left;
    list-style-type:none;
    margin-right:15px;
    margin-left:-2px;
}
#footer .footer_center .footer_menu #footer_menu li:before{
    content:"|";
    margin-right:12px;
    line-height: 15px;
}
#footer .footer_center .footer_menu #footer_menu li a{
    font-size:13px;
    font-family:sans-serif;
    color:#6C6A6A;
}
#footer .footer_center .footer_menu #footer_menu li a:hover{
    text-decoration:underline;
    color:#968F8F;
}
#footer .footer_bootom .web_counters{
    position:absolute;
    right:0px;
    display:inline-block;
}
#footer .footer_bootom .web_counters img{
    opacity:0.4;
}
#footer .footer_bootom .web_counters img:hover{
    opacity:1;
}
#footer .footer_bootom .web_counters .liveinternet{
    display:inline-block;
    margin:0 5px;
}
#footer .footer_bootom .web_counters .rambler100{
    display:inline-block;
    margin:0 5px;
}
#footer .footer_bootom .web_counters .yandex{
    display:inline-block;
    margin:0 5px;
}
#footer .footer_bootom .web_counters .mail_ru{
    display:inline-block;
    margin:0 5px;
}
#footer .footer_right{
    width:200px;
    float:right;
    border-left:1px dashed #3D3A3A;
}
/*block for social liveinternet*/
#footer .footer_right .liveinternet{
    position:absolute;
    right:5px;
    top:15px;
}
#footer .copyright{
    font-family:monospace;
    text-align:left;
    position:relative;
    line-height:15px;
    display:inline-block;
}
#footer .footer_logo{
    margin-top:20px;
}   
#footer .footer_logo a {
    display:block;
}
#footer .footer_bootom{
    border-top:1px dashed #3D3A3A;
    clear:both;
    padding-top:5px;
    position:relative;
}
/*block for social network*/
#footer .socialNetworks_slogan{
    padding:5px 20px;
    text-align:center;
    font-size:13px;
    color:#6C6A6A;
}
#footer .socialNetworks{
    border:1px solid #0E0E0E;
    border-radius:5px;
    background:rgba(113, 113, 113, 0.15);
    display:inline-block;
    position:absolute;
    bottom:0px;
    right:5px;
    padding:4px;
    height:40px;
}
#footer .socialNetworks:before{
    content:"";
    display:block;
    border:1px dashed #3D3A3A;
    position:relative;
    top:-15px;
    width:100%;
}
#footer .socialNetworks a{
    display:inline-block;
}
#footer .socialNetworks img{
    opacity:0.7;
}
#footer .socialNetworks img:hover{
    opacity:1;
}
.clearfix:after{
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

.soc_buttons {
    position: absolute;
    right:0;
    top:15px;
    width:70px;
    left:-100px;
    border:1px solid #fff;
}
.soc_buttons a {
    display: block;
}
div.shareblock{
    position: absolute;
    right:-20px;
    top:-15px;
    opacity:0.5;
}
div.shareblock #shareblock{
    background:#F0F0F0;
    padding:10px;
    border-radius:10px;
    border:2px solid #706E88;
}
div.shareblock #shareblock a{
    border:3px solid #BCBBBB;
    border-radius:10px;

}
div.shareblock #shareblock:hover a{
    opacity:0.5;
}
div.shareblock #shareblock a:hover{
    opacity:1;
}
/* Last news block */
#articles_block{

}
#articles_block .article_block_image{
    float:left;
    margin-right:10px;
}
#articles_block .article_block_text{

}
#articles_block .article_block_text img{
    border:1px solid #D2D2D2;
    border-radius:2px;
    padding:4px;
    background:#ffffff;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    width:150px;
}
#articles_block .article_block_more{
    color:#fff;

    float:right;
}
#articles_block .article_block_more:hover{
    text-decoration:none;
}
/* RSS Block */
#rss_block{

}
#rss_block .rss_description{
    clear:both;
}
#rss_block p{

}
#rss_block img{
    float:left;
    margin-right:10px;
    border:1px solid #D2D2D2;
    border-radius:2px;
    padding:4px;
    background:#ffffff;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
}
#rss_block .rss_more{
    color:#FFFFFF;
    font-size:12px;
    margin-top:10px;
    float:right;
}
#rss_block .rss_more:hover{
    text-decoration:none;
}

/* */
.break_word_wrap{
    overflow:hidden;
    word-wrap:break-word;
}
.no_image{
    border:1px solid #D2D2D2;
    border-radius:2px;
    padding:10px 5px;
    background:#ffffff;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    color:#B5ADAD;
}
/* articles */
#articles_block{
    margin:10px 0 20px 0;
}
/* label for jQuery validate */
label.error {
    color:#BE3838;
    font-family:serif;
    font-size:14px;
    line-height:14px;
    list-style-type:none;
}
label.error:before{
    content:"●";
    margin-right:5px;
}
label.valid {
    background: url("../img/valid.png") no-repeat scroll center center transparent;
    display:inline-block;
    height:24px;
    text-indent:-9999px;
    width:24px;
}
.breadcrumb{
    color:gray;
    border-radius:5px;
    border:1px solid #C2C2C2;
    background-color:#F5F5F5;
    background-image:linear-gradient(to bottom, #FCFCFC, #DADADA);
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.1);
    font-size:11px;
    margin:0 0 10px 10px;
    padding:0px 0 0 10px;
}
.breadcrumb a{
    color:#284773;
    font-weight:bold;
}
.user_light_status{
    height:20px;
    float:right;
    position:absolute;
    right:7px;
    top:163px;
}
/* Fix bootstrap */
.tooltip{
    white-space:normal;
}
.no_width{
    width:auto!important;
}
#liveracers_block{
    position:absolute;
    left:400px;
    top:60px;
    opacity:0.5;
    width:300px;
}
#liveracers_block:hover{
    opacity:1;
}