body iframe{
    display:inline;
}

#moving_text{
    background:url("../img/moving_text_bgr.png") repeat scroll 0 0 transparent;
    border:2px solid #292929;
    border-top:none;
    box-shadow:0 0 9px 5px #000000 inset;
    color:#C5C5C2;
    display:inline-block;
    overflow:hidden;
    padding:7px 5px 4px;
    white-space:nowrap;
    width:385px;
    border-radius:0 0 0 10px;
    left:15px;
    position:relative;
}
#moving_text marquee{
}
#moving_text marquee .header_news{
    margin:0;
}
#moving_text marquee .header_news li{
    display:inline-block;
    margin:0 40px 0 0;
    font-weight:bold;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:14px;
    line-height:14px;
    list-style-type:none;
}
#moving_text marquee .header_news li:before{
    content:"";
    margin-right:10px;
    font-size:7px;
    background:url('../favicon.ico') no-repeat center center;
    width:16px;
    height:16px;
    display:inline-block;
}
#moving_text marquee .header_news li a{
    color:#E1E1E0;
    text-decoration:underline;
}
#moving_text marquee .header_news li a:hover{
    text-decoration:none;
}


/*countdown_dashboard*/
#sidebar-left #countdown_dashboard{
    overflow:hidden;
    text-align:center;
    padding:1px 0 10px;
}
.div_hr{
    background:none repeat scroll 0 0 #D9D9D9;
    border-bottom:1px solid #FFFFFF;
    font-size:0;
    height:1px;
    margin:15px 5px;
}
/*scroll to top button*/
#back-top {
    position:fixed;
    bottom:10px;
    margin-left:-85px;
    display:none;
}
#back-top a {
    width:65px;
    display:block;
    text-align:center;
    font:10px/100% Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    color:#bbb;
    font-weight:bold;
    opacity:0.5;

}
#back-top a:hover {
    color:#bbbbbb;
}
#back-top span {
    width:65px;
    height:110px;
    display:block;
    margin-bottom:7px;
    background:#ddd url("../img/scroll_to_top.gray.png") no-repeat center center;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
}



#footer .copyright{
    font-family:monospace;
    text-align:left;
    position:relative;
    line-height:15px;
    display:inline-block;
}
#footer .footer_logo{
    margin-top:20px;
}   
#footer .footer_logo a {
    display:block;
}
/*block for social network*/
#footer .socialNetworks_slogan{
    padding:5px 20px;
    font-size:13px;
    color:#6C6A6A;
}
#footer-social{
    
}
#footer-social a > img{
    opacity:0.7;
}
#footer-social a:hover > img{
    opacity:1;
}
.soc_buttons {
    position: absolute;
    right:0;
    top:15px;
    width:70px;
    left:-100px;
    border:1px solid #fff;
}
.soc_buttons a {
    display: block;
}


/* Old styles for share block */
div.shareblock{position: absolute; right:-20px; top:-15px; opacity:0.5;}
div.shareblock #shareblock{background:#F0F0F0; padding:10px; border-radius:10px; border:2px solid #706E88;}
div.shareblock #shareblock a{border:3px solid #BCBBBB; border-radius:10px;}
div.shareblock #shareblock:hover a{opacity:0.5;}
div.shareblock #shareblock a:hover{opacity:1;}

/* RSS Block */
#rss_block{}
#rss_block .rss_description{clear:both;}
#rss_block p{}
#rss_block img{    float:left;
    margin-right:10px;
    border:1px solid #D2D2D2;
    border-radius:2px;
    padding:4px;
    background:#ffffff;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
}
#rss_block .rss_more{
    color:#FFFFFF;
    font-size:12px;
    margin-top:10px;
    float:right;
}
#rss_block .rss_more:hover{
    text-decoration:none;
}

/* */
.break_word_wrap{
    overflow:hidden;
    word-wrap:break-word;
}
.no_image{
    border:1px solid #D2D2D2;
    border-radius:2px;
    padding:10px 5px;
    background:#ffffff;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    color:#B5ADAD;
}
/* articles */
#articles_block{
    margin:0;
}
/* label for jQuery validate */
label.error {
    color:#BE3838;
    font-family:serif;
    font-size:14px;
    line-height:14px;
    list-style-type:none;
}
label.error:before{
    content:"â—";
    margin-right:5px;
}
label.valid {
    background: url("../img/valid.png") no-repeat scroll center center transparent;
    display:inline-block;
    height:24px;
    text-indent:-9999px;
    width:24px;
}
.user_light_status{
    height:20px;
    float:right;
    position:absolute;
    right:7px;
    top:163px;
}
.no_width{
    width:auto!important;
}

/* Text Align classes*/
.text-center{text-align:center!important;}
.text-vertical-m{vertical-align:middle!important;}
.text-vertical-t{vertical-align:top!important;}
.text-vertical-b{vertical-align:bottom!important;}

.block-center{margin-right:auto!important; margin-left:auto!important; display:block;}

/* classes for margin */
.m-t-0{margin-top:0!important;}
.m-b-0{margin-bottom:0!important;}
.m-l-0{margin-left:0!important;}
.m-r-0{margin-right:0!important;}
.m-all-0{margin:0!important;}
.m-t-5{margin-top:5px!important;}
.m-b-5{margin-bottom:5px!important;}
.m-l-5{margin-left:5px!important;}
.m-r-5{margin-right:5px!important;}
.m-all-5{margin:5px!important;}
.m-t-10{margin-top:10px!important;}
.m-b-10{margin-bottom:10px!important;}
.m-l-10{margin-left:10px!important;}
.m-r-10{margin-right:10px!important;}
.m-all-10{margin:10px!important;}
.m-t-15{margin-top:15px!important;}
.m-b-15{margin-bottom:15px!important;}
.m-l-15{margin-left:15px!important;}
.m-r-15{margin-right:15px!important;}
.m-all-15{margin:15px!important;}

/* classes for padding */
.p-t-0{padding-top:0!important;}
.p-b-0{padding-bottom:0!important;}
.p-l-0{padding-left:0!important;}
.p-r-0{padding-right:0!important;}
.p-all-0{padding:0!important;}
.p-t-5{padding-top:5px!important;}
.p-b-5{padding-bottom:5px!important;}
.p-l-5{padding-left:5px!important;}
.p-r-5{padding-right:5px!important;}
.p-all-5{padding:5px!important;}
.p-t-10{padding-top:10px!important;}
.p-b-10{padding-bottom:10px!important;}
.p-l-10{padding-left:10px!important;}
.p-r-10{padding-right:10px!important;}
.p-all-10{padding:10px!important;}
.p-t-15{padding-top:15px!important;}
.p-b-15{padding-bottom:15px!important;}
.p-l-15{padding-left:15px!important;}
.p-r-15{padding-right:15px!important;}
.p-all-15{padding:15px!important;}

/* Bootstrap 3 styles */
/* Panels */
.panel-inverse{border-color:#363636;}
.panel-inverse > .panel-heading {background-color:#363636; border-color:#363636; color:#FFFFFF;}
.panel-inverse > .panel-heading + .panel-collapse .panel-body{border-top-color:#363636;}
.panel-inverse > .panel-footer + .panel-collapse .panel-body{border-bottom-color:#363636;}

/* Buttons */
.btn-inverse{background-color: #363636;; border-color: #444444; color: #FFFFFF;}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {
	background-color:#222222; border-color:#444444; color:#FFFFFF;}
.btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {background-image:none;}
.btn-inverse.disabled, .btn-inverse[disabled], fieldset[disabled] .btn-inverse, .btn-inverse.disabled:hover, .btn-inverse[disabled]:hover, fieldset[disabled] .btn-inverse:hover, .btn-inverse.disabled:focus, .btn-inverse[disabled]:focus, fieldset[disabled] .btn-inverse:focus, .btn-inverse.disabled:active, .btn-inverse[disabled]:active, fieldset[disabled] .btn-inverse:active, .btn-inverse.disabled.active, .btn-inverse.active[disabled], fieldset[disabled] .btn-inverse.active {
	background-color:#363636;  border-color:#444444;
}
.btn-inverse .badge{background-color:#FFFFFF; color:#363636;}

/* Classes for bootstrap messaages */
hr.message-inner-separator{clear:both; margin-top:10px; margin-bottom:13px; border:0; height:1px;
	background-image:-webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}