html, body {
    height:100%;
    margin:0;
    padding:0;
}
body{
    background:url("../img/background.png") fixed;
}
body iframe{
    display:inline;
}
#page_wrapper{
    min-height: 100%;
    position:relative;
    width:1024px;
    margin:0 auto;
    padding:0;
    background:url("../img/main_hor_sprite.png") repeat-y center;
    box-shadow:0 20px 50px #000000;
}
    #page{
        padding-bottom: 190px;
    }
        #header{
            border-bottom:2px solid #8C8C8C;
            width:1024px;
            height:210px;
            background:url("../img/vert_sprite.png") repeat-x 0 0;
            position:relative;
        }
            #logo_box{
                position:absolute;
                padding: 20px 0 0 20px;
            }
                #logo{

                }
            #header .moving_text{
                background:url("../img/moving_text_bgr.png");
                border:2px solid #C1C1C1;
                color:#C5C5C2;
                position:absolute;
                width:1010px;
                top:135px;
                height:22px;
                padding:7px 5px;
                overflow:hidden;
                display:inline-block;
                box-shadow:inset 0px 0px 9px 5px #000;
                white-space:nowrap;
            }
                #header .moving_text marquee{
                }
                    #header .moving_text marquee .header_news{
                        margin:0;
                    }
                        #header .moving_text marquee .header_news li{
                            display:inline-block;
                            margin:0 40px 0 0;
                            font-family:"Press Start 2P";
                            font-size:11px;
                            line-height:11px;
                            list-style-type:none;
                        }
                        #header .moving_text marquee .header_news li:before{
                            content:"";
                            margin-right:10px;
                            font-size:7px;
                            background:url('../favicon.ico') no-repeat center center;
                            width:16px;
                            height:16px;
                            display:inline-block;
                        }
                            #header .moving_text marquee .header_news li a{
                                color:#E1E1E0;
                                text-decoration:underline;
                            }
                                #header .moving_text marquee .header_news li a:hover{
                                    text-decoration:none;
                                }
            #header #Hot_Laps_F1{
                border:2px solid white;
                top:173px;
                position:relative;
                height:35px;
                background:url("../img/moving_text_bgr.png");
                box-shadow:inset 0px 0px 9px 5px #000;
                position:relative;
            }
                #header #Hot_Laps_F1 .Marquee{
                    padding-top:5px;
                    display:inline-block;
                }
                #header #Hot_Laps_F1 .hot_laps_links{
                    display:inline-block;
                    padding:7px 5px;
                    position:absolute;
                    top:0;
                }
                    #header #Hot_Laps_F1 .hot_laps_links a{
                        font-size:14px;
                        font-weight:bold;
                        margin-left:10px;
                        color:#C5C5C2;
                        text-decoration:underline;
                    }
                        #header #Hot_Laps_F1 .hot_laps_links a:hover{
                            text-decoration:none;
                            color:#E1E1E0;
                        }
        #main_wrapper{
            position:relative;
        }
		#main{
			width:1024px;
		}
            #left_sidebar{
                width:228px;
                padding:20px 10px 10px 10px;
                float:left;
                margin-left:0;
                margin-right:-255px;
                overflow:visible;
                overflow:hidden;
                word-wrap: break-word;
                background:none repeat scroll 0 0 #F5F5F5;
                border:1px solid #CACACA;
            }
            	#left_sidebar .sidebar_box{
                    margin:0px 0 5px 0;
                    border-radius: 5px 5px 0 0;
            	}
            	#left_sidebar .sidebar_box:after{
                    background:url("../img/shadow_sprite.png") no-repeat 0 -29px;
                    display:block;
                    height:20px;
                    content:"";
            	}
                        #left_sidebar .sidebar_box .sidebar_box_title{
                            background:url("../img/vert_sprite.png") repeat-x #0D0C0C;
                            border-radius: 5px 5px 0 0;
                            color:#DCDCDC;
                            font-size:12px;
                            font-weight:bold;
                            padding:10px 6px;
                            line-height:12px;
                        }
                            #left_sidebar .sidebar_box .sidebar_box_title a{
                                color:#DCDCDC;
                            }
            		#left_sidebar .sidebar_box .sidebar_box_content{
                            padding:5px 10px;
                            border:1px solid #CACACA;
                            border-top:none;
                            background:none repeat scroll 0 0 #FBFBFB;
                            border-radius:0 0 7px 7px;
                            overflow:hidden;
                            word-wrap: break-word;
            		}
                        #left_sidebar #user_earth_map .sidebar_box_content{
                            padding:3px 3px;
                        }
			#content{
                            word-wrap: break-word;
                            margin-left:255px;
                            margin-right:-1018px;
                            margin-bottom:5px;
                            width:739px;
                            float:left;
                            padding:20px 15px 10px 10px;
                            text-align:justify;
                            background:none repeat scroll 0 0 #F5F5F5;
                            border:1px solid #CACACA;
			}
                        #content .page_title{
                            font-family:gill;
                            color: #9A9A9A;
                            font-size: 35px;
                            line-height:35px;
                            text-shadow: 1px 1px 0 #FFFFFF, 0 1px 3px #9A9A9A;
                        }
                        #content .page_content{
                            background:none repeat scroll 0 0 #FFFFFF;
                            border:1px solid #CACACA;
                            padding:10px;
                        }
                        #content .page:after{
                            background:url("../img/shadow_sprite.png") no-repeat scroll 0 -54px transparent;
                            content:"";
                            display:block;
                            height:20px;
                        }
                        .div_hr{
                            background:none repeat scroll 0 0 #D9D9D9;
                            border-bottom:1px solid #FFFFFF;
                            font-size:0;
                            height:1px;
                            margin:15px 5px;
                        }
        /*countdown_dashboard*/
        #left_sidebar #countdown_dashboard{
            overflow:hidden;
            height:100px;
            text-align:center;
            padding:10px 0;
        }
            #left_sidebar #countdown_dashboard span.dash_title{
                clear:both;
                display:block;
                font-size:12px;
                background: transparent url('../img/countdown_sprite.png') -50px -22px no-repeat;
                font-weight:bold;
            }
            #left_sidebar #countdown_dashboard div.dash{
                display:inline-block;
                overflow:hidden;
                position:relative;
                margin:2px 5px;
                text-align:center;
                width:50px;
                height:43px;
                background: transparent url('../img/countdown_sprite.png') 0 0 no-repeat;
                box-shadow:0 0 10px #000;
            }
                #left_sidebar #countdown_dashboard div.dash div.digit{
                    float:left;
                    font: bold 14pt Verdana;
                    line-height:15pt;
                    text-align: center;
                    width:25px;
                    height:22px;
                    background: transparent url('../img/countdown_sprite.png') -50px 0 no-repeat;
                }
		/*scroll to top button*/
		#back-top {
                    position:fixed;
                    bottom:10px;
                    margin-left:-85px;
                    display:none;
		}
			#back-top a {
                            width:65px;
                            display:block;
                            text-align:center;
                            font:10px/100% Arial, Helvetica, sans-serif;
                            text-transform:uppercase;
                            text-decoration:none;
                            color:#bbb;
                            font-weight:bold;
                            opacity:0.5;
                            
			}
			#back-top a:hover {
                            color:#bbbbbb;
			}
				#back-top span {
                                    width:65px;
                                    height:110px;
                                    display:block;
                                    margin-bottom:7px;
                                    background:#ddd url("../img/scroll_to_top.gray.png") no-repeat center center;
                                    -webkit-border-radius:15px;
                                    -moz-border-radius:15px;
                                    border-radius:15px;
                                    -webkit-transition:1s;
                                    -moz-transition:1s;
                                    transition:1s;
				}
        #footer{
            border-top:2px solid #8C8C8C;
            height:160px;
            width:994px;
            position:absolute;
            bottom:0;
            background:url("../img/vert_sprite.png") repeat-x 0 0;
            margin:0 auto;
            display:inline;
            clear:both;
            padding:20px 15px 10px 15px;
            color:#6C6A6A;
            font-size:11px;
        }
            #footer .footer_box{
                position:relative;
                height:120px;
                margin-bottom:10px;
            }
                #footer .footer_left{
                    float:left;
                    width:200px;
                    font-size:12px;
                    text-align:center;
                    border-right:1px dashed #3D3A3A;
                }
                #footer .footer_center{
                    float:left;
                    margin:0 7px;
                    width:570px;
                    color:#5C5656;
                    text-align:center;
                }
                    #footer .footer_center .footer_menu{
                        text-align:center;
                    }
                        #footer .footer_center .footer_menu #footer_menu{
                            display:inline-block;
                            margin: 0 auto;
                            overflow:hidden;
                        }
                            #footer .footer_center .footer_menu #footer_menu li{
                                float:left;
                                list-style-type:none;
                                margin-right:15px;
                                margin-left:-2px;
                            }
                            #footer .footer_center .footer_menu #footer_menu li:before{
                                content:"|";
                                margin-right:12px;
                                line-height: 15px;
                            }
                                #footer .footer_center .footer_menu #footer_menu li a{
                                    font-size:13px;
                                    font-family:sans-serif;
                                    color:#6C6A6A;
                                }
                                #footer .footer_center .footer_menu #footer_menu li a:hover{
                                    text-decoration:underline;
                                    color:#968F8F;
                                }
                #footer .footer_bootom .web_counters{
                    position:absolute;
                    right:0px;
                    display:inline-block;
                }
                    #footer .footer_bootom .web_counters .liveinternet{
                        display:inline-block;
                        margin:0 5px;
                    }
                    #footer .footer_bootom .web_counters .rambler100{
                        display:inline-block;
                        margin:0 5px;
                    }
                    #footer .footer_bootom .web_counters .yandex{
                        display:inline-block;
                        margin:0 5px;
                    }
                     #footer .footer_bootom .web_counters .mail_ru{
                        display:inline-block;
                        margin:0 5px;
                    }
                #footer .footer_right{
                    width:200px;
                    float:right;
                    border-left:1px dashed #3D3A3A;
                }
                    /*block for social liveinternet*/
                    #footer .footer_right .liveinternet{
                        position:absolute;
                        right:5px;
                        top:15px;
                    }
                    #footer .copyright{
                        font-family:monospace;
                        text-align:left;
                        position:relative;
                        line-height:15px;
                        display:inline-block;
                    }
                    #footer .footer_logo{
                        margin-top:20px;
                    }   
                        #footer .footer_logo a {
                            display:block;
                        }
             #footer .footer_bootom{
                 border-top:1px dashed #3D3A3A;
                 clear:both;
                 padding-top:5px;
                 position:relative;
             }
                    /*block for social network*/
                    #footer .socialNetworks_slogan{
                        padding:5px 20px;
                        text-align:center;
                        font-size:13px;
                        color:#6C6A6A;
                    }
                    #footer .socialNetworks{
                        border:1px solid #0E0E0E;
                        border-radius:5px;
                        background:rgba(113, 113, 113, 0.15);
                        display:inline-block;
                        position:absolute;
                        bottom:0px;
                        right:5px;
                        padding:4px;
                        height:40px;
                    }
                    #footer .socialNetworks:before{
                        content:"";
                        display:block;
                        border:1px dashed #3D3A3A;
                        position:relative;
                        top:-15px;
                        width:100%;
                    }
                        #footer .socialNetworks a{
                            display:inline-block;
                        }
.clearfix:after{
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}
/*forms*/
fieldset.form_white_box{

}
    fieldset.form_white_box legend{
        font-family:gill;
        font-size:35px;
        position:relative;
    }
form.white_box{
    display:block;
    margin:0 auto;
    overflow:hidden;
    width:500px;
}
form.white_box:after{
    background:url("../img/shadow_sprite.png") no-repeat 0 -74px;
    display:block;
    height:20px;
    content:"";
    margin:0 auto;
    width:280px;
}
    form.white_box label.required:after{
        content:" *";
        color:red;
    }
    form.white_box label.error{
        /*position:absolute;*/
    }
    form.white_box label.valid{
        position:absolute;
    }
    form.white_box dl{
        border:1px solid #CACACA;
        background:none repeat scroll 0 0 #FBFBFB;
        padding:20px;
        margin:0;
        border-radius:7px;
    }
    form ul.errors{
        margin:5px auto;
        clear:both;
        overflow:hidden;
        word-wrap:break-word;
        width:90%;
    }
        form ul.errors li{
            color:#BE3838;
            font-family:serif;
            font-size:14px;
            line-height:17px;
            text-align:center;
        }
form#userlogin{
    width:270px;
}
    form#userlogin #submit-element{
        margin-left:25px;
    }
form#userRegister{
    width:360px;
}
form#userConfirm{
    width:290px;
}
form#userRestorePasswd{
    width:360px;  
}
    form.white_box #remember-label{
        display:inline-block;
        padding: 3px 0 0 10px;
    }
    form.white_box #remember-element{
        display:inline-block;
        float:left;
    }
    form.white_box #reset-label{
        display:none;
    }
    form.white_box #reset-element{
        display:inline-block;
    }
    form.white_box #submit-label{
        
    }
    form.white_box #submit-element{
        display:inline-block;
        margin:0 20px 0px 10px;
    }
/*Messages*/
div.messages{
    padding: 10px 20px 10px 40px;
    border: 1px solid;
    margin:10px 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:14px;
    text-align:justify;
}
    div.errors{
        border-color:#ED541D;
        background:url("../img/error.png") no-repeat 10px 7px #FEF5F1;
        color:#8C2E0B;
    }
label.error {
    color:#BE3838;
    font-family:serif;
    font-size:14px;
    line-height:14px;
    list-style-type:none;
}
label.valid {
    background: url("../img/valid.png") no-repeat scroll center center transparent;
    display:inline-block;
    height:24px;
    text-indent:-9999px;
    width:24px;
}
.soc_buttons {
    position: absolute;
    right:0;
    top:15px;
    width:70px;
    left:-100px;
    border:1px solid #fff;
}

.soc_buttons a {
    display: block;
}

div.shareblock{
    position: absolute;
    right:-20px;
    top:0;
    opacity:0.5;
}
    div.shareblock #shareblock{
        background:#F0F0F0;
        padding:10px;
        border-radius:10px;
        border:2px solid #706E88;
    }
        div.shareblock #shareblock a{
            border:3px solid #BCBBBB;
            border-radius:10px;

        }
        div.shareblock #shareblock:hover a{
            opacity:0.5;
        }
            div.shareblock #shareblock a:hover{
                opacity:1;
            }
/* RSS Block */
#rss_block{
    width:100%;
}
    #rss_block .rss_item{
        
    }
    #rss_block p{
        margin:0;
    }
    #rss_block img{
        float:left;
        margin-right:10px;
    }
    #rss_block .rss_more{
        color:#FFFFFF;
        font-size:12px;
        margin-top:5px;
    }
        #rss_block .rss_more:hover{
            text-decoration:none;
        }
        
/* */
.break_word_wrap{
    overflow:hidden;
    word-wrap:break-word;
}

