/* user info page */
    #user_info_page .user_info_ava{
        float:right;
        margin:0 0 20px 20px;
        width:210px;
    }
    #user_info_page .user_info_ava:after{
        background: url("../img/shadow_sprite.png") no-repeat scroll -250px -29px transparent;
        content: "";
        display: block;
        height: 20px;
    }
    #user_info_page .user_info_avatar{
         margin:0 0 5px 0;
    }
        #user_info_page .user_info_avatar img{
            width:200px;
        }
        #user_info_page .user_info_ava .nationality{
            text-align:center;
            text-transform:uppercase;
        }
    
    #user_info_page table{
        font-family:monospace;
    }
    
    #user_info_page .user_info_data{
        position:relative;
        width:480px;
        margin:0 0 20px 0;
    }
        #user_info_page .user_info_data table{
            margin:0;
            font-size:14px;
            display:block;
        }
            #user_info_page .user_info_data table td.header_column{
                width:180px;
                font-weight:bold;
                vertical-align:middle;
                font-size:15px;
            }
            #user_info_page .user_info_data table tr{
            }
            #user_info_page .user_info_data table tr td{
            }
                #user_info_page .user_info_data table tr td div{
                    width:300px;
                }
    
    #user_info_page #tabs{
        clear:both;
    }
        #user_info_page #tabs table td.header_column{
            clear:both;
            font-weight:bold;
            vertical-align:middle;
            font-size:15px;
            width:180px;
        }
    
/* user edit page */
#user_edit_page{
    
}
    #user_edit_page #table_avatar_type{
            
        }
            #user_edit_page #table_avatar_type tr{
                
            }
                #user_edit_page #table_avatar_type tr td{
                    padding:2px;
                    width: 200px;
                    text-align:center;
                }
                    #user_edit_page #table_avatar_type tr td span{
                        padding:8px;
                        color:#828282;
                        font-size:13px;
                    }
                    #user_edit_page #table_avatar_type tr td img{
                        width:200px;
                    }
        
        #user_edit_page fieldset .fieldset_inner_form .avatar_type{
            
        }
            #user_edit_page fieldset .fieldset_inner_form .avatar_type .element_tag{
                margin:0 auto !important;
                float:none !important;
                width:250px;
                padding-left:165px;
            }
                #user_edit_page fieldset .fieldset_inner_form .avatar_type .element_tag input{
                    margin:4px 5px 6px 0;
                }
            #user_edit_page fieldset .fieldset_inner_form .avatar_type label{
                display:inline;
                font-weight:normal !important;
                color:#828282;
                font-size:13px;
            }
/* All users page */
    #users_page .pagination{
        clear:both;
    }
    #users_page .user_item{
        border:1px solid #CACACA;
        padding:9px;
        width:176px;
        display:inline-block;
        margin:5px 20px 25px;
        position:relative;
        background:none repeat scroll 0 0 #F5F5F5;
        border-radius:3px;
    }
    .user_item:hover{
        background:none repeat scroll 0 0 #fff;
    }
        .user_item .user_image{
            text-align:center;
            margin:0 0 10px 0;
            width:175px;
            height:175px;
            overflow:hidden;
        }
            .user_item .user_image img{
                width:165px;
            }
       .user_item .user_image_x{
           width:145px;
           height:145px;
       }
        .user_item .user_image_x img{
            width:135px;
        }
        .user_item .user_login{
            
        }
        .user_item .user_flag{
            display:inline-block;
            float:left;
        }
            .user_item .user_flag img{
                width:32px;
            }
        .user_flag_s{
            width:32px;
        }
        .user_flag_x{
            width:48px;
        }
.user_item{
        border:1px solid #CACACA;
        padding:9px;
        display:inline-block;
        position:relative;
        background:none repeat scroll 0 0 #F5F5F5;
        border-radius:3px;
        font-size:12px;
    }

.teams_driver_info{
    margin-left:10px;
    width:150px;
    word-wrap:break-word;
    font-size:13px;
    font-family:monospace;
}
    .teams_driver_info div{
        border-top:1px solid #DDDDDD;
    }
    .teams_driver_info table{
        width:450px;
    }
        .teams_driver_info table tr td{
            vertical-align:middle;
        }
.team_item .user_item{
    width:310px;
    margin:0 7px;
}
.team_driver_block{
    border-top:4px solid #D9D9D9;
    padding-top:10px;
}
.team_driver_number{
    min-width:20px;
    text-align:center;
    margin-bottom:6px;
    font-weight:bold;
    font-size:15px;
    padding:5px 7px;
}