/* user info page */
#user_info_page{
    
}
    #user_info_page .user_info_ava{
        float:right;
        margin:0 0 20px 20px;
        width:210px;
    }
    #user_info_page .user_info_ava:after{
        background: url("../img/shadow_sprite.png") no-repeat scroll -250px -29px transparent;
        content: "";
        display: block;
        height: 20px;
    }
    #user_info_page .user_info_avatar{
         margin:0 0 5px 0;
    }
        #user_info_page .user_info_avatar img{
            width:200px;
        }
        #user_info_page .user_info_ava .nationality{
            text-align:center;
            text-transform:uppercase;
        }
    
        
    
    #user_info_page table{
        font-family:monospace;
    }
    
    #user_info_page .user_info_data{
        position:relative;
        width:480px;
        margin:0 0 20px 0;
    }
        #user_info_page .user_info_data table{
            margin:0;
            font-size:14px;
            display:block;
        }
            #user_info_page .user_info_data table td.header_column{
                width:180px;
                font-weight:bold;
                vertical-align:middle;
                font-size:15px;
            }
            #user_info_page .user_info_data table tr{
            }
            #user_info_page .user_info_data table tr td{
            }
                #user_info_page .user_info_data table tr td div{
                    width:300px;
                }
    
    #user_info_page #tabs{
        clear:both;
    }
        #user_info_page #tabs table td.header_column{
            clear:both;
            font-weight:bold;
            vertical-align:middle;
            font-size:15px;
            width:180px;
        }
    
/* user edit page */
#user_edit_page{
    width:100%;
}
    #user_edit_page fieldset{
    
    }
    #user_edit_page fieldset legend{
        font-size:22px;
    }
    #user_edit_page #table_avatar_type{
            
        }
            #user_edit_page #table_avatar_type tr{
                
            }
                #user_edit_page #table_avatar_type tr td{
                    padding:2px;
                    width: 200px;
                    text-align:center;
                }
                    #user_edit_page #table_avatar_type tr td span{
                        padding:8px;
                        color:#828282;
                        font-size:13px;
                    }
                    #user_edit_page #table_avatar_type tr td img{
                        width:200px;
                    }
    #user_edit_page fieldset .fieldset_inner_form{
        border:1px solid #CACACA;
        background:none repeat scroll 0 0 #F9F9F9;
        padding:20px;
        margin:0;
        border-radius:7px;
    }
        #user_edit_page fieldset .fieldset_inner_form .element_box{
            clear:both;
            margin:15px 0;
        }
        #user_edit_page fieldset .fieldset_inner_form .avatar_type{
            
        }
            #user_edit_page fieldset .fieldset_inner_form .avatar_type .element_tag{
                margin:0 auto !important;
                float:none !important;
                width:250px;
                padding-left:50px;
            }
                #user_edit_page fieldset .fieldset_inner_form .avatar_type .element_tag input{
                    margin:4px 5px 6px 0;
                }
            #user_edit_page fieldset .fieldset_inner_form .avatar_type label{
                display:inline;
                font-weight:normal !important;
                color:#828282;
                font-size:13px;
            }
            #user_edit_page fieldset .fieldset_inner_form .element_box .element_label{
                display:inline-block;
                text-align:right;
                width:40%;
                padding-top:5px;
                font-weight:bold;
            }
            #user_edit_page fieldset .fieldset_inner_form .element_box .element_tag{
                float:right;
                margin-right:140px;
            }
            #user_edit_page fieldset .fieldset_inner_form .element_box p.hint{
                margin:10px auto;
                width:80%;
                text-align:center;
                font-size:13px;
                color:#828282;
            }
    #user_edit_page .form_actions{
        margin-top:15px;
    }
        #user_edit_page .form_actions fieldset .fieldset_inner_form{
            padding:15px;
            text-align:center;
        }
            #user_edit_page .form_actions fieldset .fieldset_inner_form .form_actions_group{
                margin:0 15px;
            }
    #user_edit_page label{
        font-weight:bold;
    }        
    #user_edit_page .additional_Inf{

    }
    #user_edit_page .additional_Inf .fieldset_inner_form{
    
    }
        #user_edit_page .additional_Inf .fieldset_inner_form textarea{
            resize:none;
            width:640px;
        }

/* User settings page*/
#user_settings_page{
    
}

/* All users page */
#users_page{
    
}
    #users_page .pagination{
        clear:both;
    }
    #users_page .user_item{
        border:1px solid #CACACA;
        padding:9px;
        width:176px;
        display:inline-block;
        margin:5px 20px 25px;
        position:relative;
        background:none repeat scroll 0 0 #F5F5F5;
        border-radius:3px;
    }
        #users_page .user_item .user_image{
            text-align:center;
            margin:0 0 10px 0;
            width:175px;
            height:175px;
            overflow:hidden;
        }
        #users_page .user_item .user_image img{
            width:165px;
        }
        #users_page .user_item .user_login{
            
        }
        #users_page .user_item .user_flag{
            display:inline-block;
            float:left;
        }
/* user activate page */
#user_activate_page{
    
}