/* user info page */
#user_info_page{
    
}
    #user_info_page .user_info_avatar{
        float:right;
        margin:0 0 20px 20px;
    }
    
    #user_info_page table{
        font-family:monospace;
    }
    
    #user_info_page .user_info_data{
        position:relative;
        width:500px;
        margin:0 0 20px 0;
    }
        #user_info_page .user_info_data table{
            margin:0;
            font-size:14px;
        }
            #user_info_page .user_info_data table td.header_column{
                width:180px;
                font-weight:bold;
                vertical-align:middle;
                font-size:15px;
            }
    
    #user_info_page #tabs{
        clear:both;
    }
    
/* user edit page */
#userEdit{
    width:600px;
}
    #userEdit fieldset{
    
    }
    #userEdit fieldset legend{
        font-size:25px;
    }