AddDefaultCharset utf-8
SetEnv APPLICATION_ENV i.peshkov
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
#DirectoryIndex index.html
#RewriteRule ^.*$ index.html [NC,L]

#AuthName "Restricted Area"
#AuthType Basic
#AuthUserFile /home/onlinera/domains/online-racing.net/.htpasswd/.protected.list
#AuthGroupFile /dev/null
#require valid-user