/.idea/
/nbproject/*

!/cache/
/cache/*

/data/logs/application.log
/data/logs/errors.log
!/public_html/img/data/flags/
/public_html/img/data/flags/*
!/public_html/img/data/logos/championships/
/public_html/img/data/logos/championships/*
!/public_html/img/data/logos/leagues/
/public_html/img/data/logos/leagues/*
!/public_html/img/data/logos/teams/
/public_html/img/data/logos/teams/
!/public_html/img/data/users/avatars/
/public_html/img/data/users/avatars/*
!/public_html/img/data/track_schemes/
/public_html/img/data/track_schemes/*

public_html/data-content/_thumbs/
!/public_html/data-content/data-uploads/track/logos/
public_html/data-content/data-uploads/track/logos/*
!/public_html/data-content/data-uploads/track/logos/index.php

!/public_html/data-content/data-uploads/flags/
/public_html/data-content/data-uploads/flags/*

!.gitfolder