/idea/
/data/logs/application.log
/data/logs/errors.log
/nbproject/private/
/public_html/img/data/flags
/public_html/img/data/logos/championships
/public_html/img/data/logos/leagues
/public_html/img/data/user/avatars