AddDefaultCharset utf-8
SetEnv APPLICATION_ENV production
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^.*$ index.php [NC,L]
DirectoryIndex index.php

#DirectoryIndex index.html
#RewriteRule ^.*$ index.html [NC,L]

SetEnv TZ Europe/Minsk

#AuthType Basic  
#AuthName "Private zone. Only for administrator!"
#AuthUserFile /home/wm1624/domains/online-racing.net/public_html/.htpasswd
#AuthGroupFile /dev/null
#require valid-user

#AddHandler application/x-httpd-php54 .php .inc .phtml # phpvs v5

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?online-racing\.net/ [nc]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?google\.com/ [nc]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?yandex\.ru/ [nc]
RewriteRule .*\.(gif|jpe?g|png|bmp|pdf|zip|rar|mp3|js)$ http://online-racing/img/index.jpg [nc]