html, body {
    height:100%;
    margin:0;
    padding:0;
}

body{
	background:url("../img/background.png") fixed;d
}
#mane_wrapper{
	min-height: 100%;
	position:relative;
	width:1024px;
	margin:0 auto;
	padding:0;
	background:url("../img/main_hor_sprite.png") repeat-y center;
	box-shadow:0 20px 50px #000000;
}
	#page{
		padding-bottom: 150px;
		
	}
		#header{
			border-bottom:2px solid #8C8C8C;
			width:1024px;
			height:150px;
			background:url("../img/vert_sprite.png") repeat-x 0 0;
			
		}
            #logo_box{
                position:absolute;
                padding: 10px 20px;
            }
                #logo{

                }
		#main{
			width:1024px;
		}
			#content{
			    padding:10px 15px;
				text-align:justify;
			}
		#footer{
			border-top:2px solid #8C8C8C;
			height:150px;
			width:1024px;
			position:absolute;
			bottom:0;
			background:url("../img/vert_sprite.png") repeat-x 0 0;
			margin:0 auto;
			display:inline;
		}